body{
  background-color:lightyellow;
}

img{
  float:left;
}

h3{
  text-align:center;
}

#box1{
  margin-right: 100px;
  margin-left: 400px;
}

p{
  text-align:center;
}

#box2{
  margin-right: 100px;
  margin-left: 400px;
}

#box3{
  margin-right: 100px;
  margin-left: 400px;
}
